body {
  font-size: 14px;
  font-family: Calibri, Arial;
  margin: 0px;
}

#header {
  background-color: #00063A;
  height: 60px;
  margin: 0px;
}

#navbar {
  background-color: #00063A;
  margin: 0px;
  padding: 0px;
  font-size: 130%;
}

#navbar ul {
  color: #4DC9FF;
  margin: 0px;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  color: white;
}

#navbar ul li a:hover {
  background-color: #4DC9FF;
  color: #00063A;
}

#content {
  background-color: #4DC9FF;
  height: 777px;
  margin: 0px;
}

#footer {
  background-color: #00063A;
  height: 60px;
  margin: 0px;
}